
@media screen and (min-width:40em) {
	.rating-round {
		font-size: 18px
	}
	.rating-round .pie-wrapper {
		height: 80px;
		width: 80px
	}
	.rating-round .pie-wrapper .pie {
		clip: rect(0, 80px, 80px, 40px)
	}
	.rating-round .pie-wrapper .pie .half-circle {
		clip: rect(0, 40px, 80px, 0)
	}
}

@media screen and (min-width:64em) {
	.rating-round {
		font-size: 26px
	}
	.rating-round .pie-wrapper {
		height: 100px;
		width: 100px
	}
	.rating-round .pie-wrapper .pie {
		clip: rect(0, 100px, 100px, 50px)
	}
	.rating-round .pie-wrapper .pie .half-circle {
		clip: rect(0, 50px, 100px, 0)
	}
}

@media screen and (min-width:64em) {
	.procon {
		max-width: 900px
	}
}

@media screen and (min-width:64em) {
	.citation-container {
		max-width: 920px;
		padding: 0!important
	}



