@media screen and (max-width:63.9375em) {
	.how_we_review {
		text-align: center;
		margin: 1em 0 1.5em
	}
}

.how_we_review a {
	position: relative
}

.how_we_review a:before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50%;
	display: inline-block;
	left: -20px;
	top: -1px;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" width="16" height="16" focusable="false" data-prefix="far" data-icon="info-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm0-338c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" class=""></path></svg>')
}

.rating-round {
	font-size: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.rating-round .pie-wrapper {
	height: 67px;
	width: 67px;
	position: relative
}

.rating-round .pie-wrapper .pie {
	height: 100%;
	width: 100%;
	clip: rect(0, 67px, 67px, 33.5px);
	left: 0;
	position: absolute;
	top: 0
}

.rating-round .pie-wrapper .pie .half-circle {
	height: 100%;
	width: 100%;
	border: 6.7px solid #70f1b4;
	border-radius: 50%;
	clip: rect(0, 33.5px, 67px, 0);
	left: 0;
	position: absolute;
	top: 0
}

.rating-round .pie-wrapper .label {
	height: 100%;
	width: 100%;
	background-color: transparent;
	color: #555;
	cursor: default;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.5em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	letter-spacing: -2px
}

.rating-round .pie-wrapper .shadow {
	height: 100%;
	width: 100%;
	border: 6.7px solid #e7e7e7;
	border-radius: 50%
}
