

.procon ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
	margin-bottom: 0
}

.procon ul li {
	position: relative;
	padding-left: 25px
}

.procon ul li:before {
	content: "";
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 0
}

.procon h5 {
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: 700
}

.procon h5:after,
.procon h5:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	content: "";
	border-radius: 4px
}

.procon h5:after {
	width: 60%
}

.recommend {
	margin: 15px 0
}

.recommend h5 {
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: 700
}

.recommend h5:after,
.recommend h5:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	content: "";
	border-radius: 4px;
	width: 100%
}

.recommend h5:after {
	width: 60%
}

.recommend .dos h5 {
	color: #49e099
}

.recommend .dos h5:before {
	background: #b6f8d9
}

.recommend .dos h5:after {
	background: #49e099
}

.recommend .dos li:before {
	background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-plus fa-w-14"><path fill="%2370f1b4" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>') no-repeat 50%
}

.recommend .donts h5 {
	color: #777
}

.recommend .donts h5:before {
	background: #ececec
}

.recommend .donts h5:after {
	background: #777
}

.recommend .donts li:before {
	background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-minus fa-w-14"><path fill="%23999999" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>') no-repeat 50%;
	top: 5px
}

.recommend ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
	margin-bottom: 0
}

.recommend ul li {
	position: relative;
	padding-left: 25px
}

.recommend ul li:before {
	content: "";
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 0
}

.product-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 2px solid #70f1b4;
	padding: 30px;
	margin: 30px 0
}

@media screen and (min-width:64em) {
	.product-box {
		max-width: 900px
	}
}

.product-box .-p-overview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.product-box .-p-overview img {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 300px
}

.product-box .-p-overview .accolades {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	text-align: left;
	list-style: none;
	padding-left: 26px;
	margin-bottom: 0;
	margin-left: 0;
	font-weight: 700
}

.product-box .-p-overview .accolades li {
	position: relative
}

.product-box .-p-overview .accolades li:before {
	position: absolute;
	left: -25px;
	width: 18px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 18px 25px;
	background-position: 50%;
	display: inline-block;
	content: "";
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%2370f1b4" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>') no-repeat 50%
}

@media screen and (min-width:40em) {
	.product-box .-p-overview .accolades {
		margin-left: 25px
	}
}

.product-box .-p-overview .accolades li {
	margin-bottom: 5px
}

.product-box .-p-overview .accolades li:last-child {
	margin-bottom: 0
}

@media screen and (max-width:38.75em) {
	.product-box .-p-overview .accolades {
		min-width: 100%
	}
	.product-box .-p-overview img {
		margin-bottom: 15px
	}
}

.product-box .cta-wrap {
	max-width: 33%;
	text-align: center
}

.product-box .cta-wrap a {
	display: block
}

.product-box .cta-wrap .product-logo {
	margin: 0 auto 15px;
	max-width: 175px
}

.product-box .cta-wrap .cta-phone {
	margin: 0 auto 10px
}

.product-box .cta-wrap .cta-phone:before {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23bac1c5" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"/></svg>') no-repeat 50%;
	height: 24px;
	width: 20px;
	background-size: 20px 24px;
	margin-right: 5px;
	content: "";
	display: inline-block;
	vertical-align: sub
}

.product-box .cta-wrap .button,
.product-box .cta-wrap .search-form .search-submit,
.search-form .product-box .cta-wrap .search-submit {
	max-width: 220px;
	margin: 0 auto
}

.product-box .rating-wrap {
	width: 160px
}

.product-box .product-img {
	max-width: 400px
}

@media screen and (max-width:63.9375em) {
	.product-box {
		padding: 30px 15px
	}
	.product-box .rating-wrap {
		width: 140px
	}
}

@media (max-width:690px) {
	.product-box .cta-wrap {
		width: 100%;
		max-width: 100%;
		margin-top: 30px
	}
}

.button,
.search-form .search-submit {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
	font-weight: 700
}

.button.hollow:hover,
.search-form .hollow.search-submit:hover {
	background: #222eed;
	border-color: #222eed;
	color: #fff
}

.-m-faqs .faq-container {
	max-width: 920px;
	margin: 0 auto
}

.-m-faqs .accordion {
	background-color: transparent
}

.-m-faqs .accordion .accordion-item {
	margin-bottom: 0
}

.-m-faqs .accordion .accordion-item .accordion-title {
	color: #2b3889;
	border: none;
	border-bottom: 1px solid #e4e4e4;
	padding: 1rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	font-size: 1em
}

.-m-faqs .accordion .accordion-item .accordion-title:before {
	position: absolute;
	top: 45%;
	right: 1rem;
	margin-top: -.5rem;
	content: "";
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fal" data-icon="angle-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23adaff5" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"/></svg>')
}

.-m-faqs .accordion .accordion-item .accordion-title:focus,
.-m-faqs .accordion .accordion-item .accordion-title:hover {
	background-color: hsla(0, 0%, 89%, .25);
	text-decoration: none
}

.-m-faqs .accordion .accordion-item .accordion-content {
	border: none;
	background-color: transparent
}

.-m-top-products {
	margin-bottom: 50px
}

.top-picks-header {
	position: relative;
	border-bottom: 4px solid #8c8ce9;
	margin-bottom: 15px
}

.top-picks-header .pick-header {
	background-color: #92edb8;
	color: #fff;
	position: relative;
	padding: 5px 10px;
	display: inline-block;
	margin: 0
}

.top-picks-header .pick-header:before {
	background-color: #34bf79;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -8px;
	left: 0;
	content: "";
	z-index: 1;
	border-color: transparent #34bf79 #fff transparent;
	border-style: solid;
	border-width: 0 11px 8px 0
}

.top-picks-header .pick-header:after {
	display: inline-block;
	width: 0;
	height: 0;
	border-color: #92edb8 transparent transparent;
	border-style: solid;
	border-width: 43px 15px 0 0;
	content: "";
	margin-left: 0;
	position: absolute;
	right: -15px;
	top: 0
}

.top-picks-header .pick-border {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #92edb8;
	z-index: 0
}

.top-products {
	margin-bottom: 30px
}

@media (min-width:640px) {
	.top-products {
		margin-bottom: 0
	}
}

.top-products .inner {
	background-color: #fff;
	border: 1px solid #ebebeb;
	position: relative;
	padding: 15px 20px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.top-products .inner .top-products-cta {
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%
}

.top-products .first-tag {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px
}

.top-products .first-tag .triangle {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-color: transparent #e6ac52 transparent transparent;
	border-style: solid;
	border-width: 0 50px 50px 0;
	z-index: 2
}

.top-products .first-tag .star {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23fff' d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z'/%3E%3C/svg%3E");
	width: 20px;
	height: 20px;
	background-size: 20px;
	z-index: 3;
	position: relative;
	top: 7px;
	left: 5px;
	display: block;
	background-repeat: no-repeat
}

.top-products .rating-round .pie-wrapper {
	height: 67px;
	width: 67px;
	position: relative
}

.top-products .rating-round .pie-wrapper .pie {
	height: 100%;
	width: 100%;
	clip: rect(0, 67px, 67px, 33.5px);
	left: 0;
	position: absolute;
	top: 0
}

.top-products .rating-round .pie-wrapper .pie .half-circle {
	height: 100%;
	width: 100%;
	border: 6.7px solid #70f1b4;
	border-radius: 50%;
	clip: rect(0, 33.5px, 67px, 0);
	left: 0;
	position: absolute;
	top: 0
}

.top-products .rating-round .pie-wrapper .label {
	height: 100%;
	width: 100%;
	background-color: transparent;
	color: #555;
	cursor: default;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.5em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	letter-spacing: -2px
}

.top-products .rating-round .pie-wrapper .shadow {
	height: 100%;
	width: 100%;
	border: 6.7px solid #e7e7e7;
	border-radius: 50%
}

.top-products .rating-round .total {
	color: #c1c1c1
}

.top-products-header {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
	margin-bottom: 20px
}

.top-products-header .accolade {
	font-size: 1.1em;
	letter-spacing: -.5px;
	line-height: 1.3em;
	font-weight: 700;
	margin-bottom: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 100%;
	flex: 1 0 100%
}

@media (min-width:1024px) {
	.top-products-header .accolade {
		font-size: 1.2em;
		line-height: inherit;
		letter-spacing: inherit
	}
}

.top-products-header .h3 {
	margin-top: 0;
	margin-bottom: .75rem
}

.top-products .img-col {
	margin-top: 15px;
	min-height: 140px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.top-products .img-col img {
	max-width: 200px;
	margin: auto;
	-ms-flex-item-align: center;
	align-self: center
}

@media (min-width:1024px) {
	.top-products .img-col {
		margin-top: 0
	}
}

.top-products-cta {
	text-align: center;
	margin-top: 25px
}

.top-products .rating-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.top-products .rating-wrap.mobile-rating {
	display: none
}

@media (min-width:1024px) {
	.top-products .rating-wrap {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
}

.top-products .rating-wrap .h5 {
	font-size: 1em;
	font-weight: 400;
	margin-right: 20px;
	color: #555
}

.top-products .rating-round {
	font-size: 16px;
	position: relative;
	bottom: 3px
}

.top-products .rating-round .top-picks-rating .label {
	background-color: transparent;
	font-weight: 700;
	font-size: 24px;
	color: #92edb8;
	position: relative;
	top: 6px;
	left: 3px
}

.top-products .rating-round .total {
	color: #555
}

.top-picks-header .mobile,
.top-products.mobile,
.top-products .top-products-anchor,
.top-products:nth-child(n+3) {
	display: none
}

.top-cta-container {
	width: 100%
}

.logo-mobile {
	display: none
}

@media only screen and (max-width:640px) {
	.logo-mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
	.desktop-rating,
	.desktop-title {
		display: none
	}
	.top-products:nth-child(n+3) {
		display: block
	}
	.top-products.first .accolade-bottom-border,
	.top-products.first .accolade-top-border {
		display: none
	}
	.top-products.first .inner {
		padding-top: 0
	}
	.top-products.first .img-logo {
		margin-top: 15px;
		margin-bottom: 10px
	}
	.top-products.first .img-col {
		margin-top: 0
	}
	.top-products .first-tag {
		display: none
	}
	.top-products .top-products-header {
		width: 100%
	}
	.top-products .top-products-header .accolade,
	.top-products .top-products-header .accolade-bottom-border,
	.top-products .top-products-header .accolade-top-border {
		display: none
	}
	.top-products .top-products-header .product-logo {
		max-width: 200px;
		margin: auto;
		-ms-flex-item-align: center;
		align-self: center
	}
	.top-products .top-products-header .img-col {
		margin-bottom: 10px
	}
	.top-products .top-products-header .top-products-descr {
		text-align: center
	}
	.top-products .top-products-header .top-cta-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end
	}
	.search-form .top-products .top-products-header .top-cta-container .search-submit,
	.top-products .top-products-header .top-cta-container .button,
	.top-products .top-products-header .top-cta-container .search-form .search-submit {
		padding-left: 0;
		padding-right: 0
	}
	.top-products .top-products-header .top-cta-container .top-products-cta {
		width: auto;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 45%;
		flex: 0 0 45%
	}
	.top-products .top-products-header .rating-wrap,
	.top-products .top-products-header .top-cta-container .top-products-cta a {
		width: 100%
	}
	.top-products .top-products-header .rating-wrap.desktop-rating {
		display: none
	}
	.top-products .top-products-header .rating-wrap .h5,
	.top-products .top-products-header .rating-wrap.mobile-rating {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
	.top-products .top-products-header .rating-wrap .h5 {
		color: #8c8ce9!important;
		font-weight: 600!important;
		font-size: 1.2em!important;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-right: 0!important
	}
	.top-products .top-products-header .rating-wrap .h5:before {
		display: inline-block;
		content: "";
		width: 1rem;
		height: 1rem;
		margin-right: 10px;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.41 12.22'%3E%3Crect x='2.91' width='11.5' height='3.05' rx='1.53' fill='%23c4ffe3'/%3E%3Crect y='4.58' width='11.5' height='3.05' rx='1.53' fill='%238ae3fc'/%3E%3Crect x='2.91' y='9.17' width='11.5' height='3.05' rx='1.53' fill='%23adadfa'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: 50%;
		vertical-align: text-bottom
	}
	.top-products .top-products-header .rating-wrap .rating-round {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	.top-products .top-products-header .rating-wrap .rating-round .label {
		color: #0a0a0a!important;
		font-size: 1.2em!important;
		padding-right: .3rem!important;
		background-color: transparent!important
	}
	.top-products .top-products-header .rating-wrap .rating-round .total {
		font-size: .7em;
		color: #555!important;
		margin-top: 10px
	}
	.top-products .top-products-header .rating-wrap .rating-round .shadow {
		display: none
	}
	.top-products .top-products-header .rating-wrap .rating-round .pie-wrapper {
		height: auto;
		width: auto
	}
	.top-products .top-products-header .rating-wrap .rating-round .pie-wrapper .label {
		padding-bottom: 0!important;
		position: relative
	}
}

@media only screen and (max-width:640px) {
	.top-products .img-col,
	.top-products .top-products-header .rating-wrap .h6,
	.top-products .top-products-header .rating-wrap .rating-round .pie {
		display: none
	}
}

@media screen and (max-width:75em) {
	body.active-mobile {
		overflow: hidden
	}
	body.active-mobile .banner {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 999;
		background: #fff
	}
	body.active-mobile .banner-container {
		border-bottom: 1px solid #ececec
	}
}

.banner {
	border-bottom: 1px solid #ececec
}

@media screen and (max-width:75em) {
	
}

.banner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 74px
}

.banner .brand img {
	height: 30px
}

@media screen and (min-width:64em) {
	.banner .brand img {
		height: 38px
	}
}

.banner .nav-primary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%
}

.banner .nav-primary #main-menu,
.banner .nav-primary li.menu-item-has-children,
.banner .nav-primary ul.nav {
	height: 100%
}

.banner .nav-primary .nav {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center
}

.banner .nav-primary li.menu-item-has-children {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative
}

.banner .nav-primary li.columns .sub-menu span.top-chevron {
	left: 19px
}

.banner .nav-primary .sub-menu {
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .08);
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .08);
	position: absolute;
	list-style: none;
	top: 90%;
	margin: 0 0 0 20px;
	left: 0;
	will-change: visibility, opacity;
	-webkit-transition-property: visibility, opacity;
	-o-transition-property: visibility, opacity;
	transition-property: visibility, opacity;
	-webkit-transition-duration: 0s, .25s;
	-o-transition-duration: 0s, .25s;
	transition-duration: 0s, .25s;
	z-index: 0;
	padding: 5px 0;
	border-radius: 4px
}

.banner .nav-primary .sub-menu.not-grandparent,
.banner .nav-primary .sub-menu li.menu-item-has-children {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.banner .nav-primary .sub-menu li.menu-item-has-children {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.banner .nav-primary .sub-menu span.top-chevron {
	position: absolute;
	-webkit-box-shadow: -2px -2px 5px -2px rgba(0, 0, 0, .12);
	box-shadow: -2px -2px 5px -2px rgba(0, 0, 0, .12);
	-webkit-animation: fadeInDown 1s cubic-bezier(.075, .82, .165, 1);
	-o-animation: fadeInDown 1s cubic-bezier(.075, .82, .165, 1);
	animation: fadeInDown 1s cubic-bezier(.075, .82, .165, 1);
	top: -6px;
	z-index: -1;
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 14px;
	background: #fff;
	height: 15px;
	width: 15px
}

.banner .nav-primary .sub-menu li {
	background: #fff;
	white-space: nowrap
}

.banner .nav-primary .sub-menu li a {
	padding: .7rem .5rem
}

.banner .nav-primary .sub-menu span.middle-chevron {
	z-index: 12;
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent transparent #fff;
	border-style: solid;
	border-width: 0 12px 7.5px;
	-webkit-animation: fadeInDown 1s cubic-bezier(.075, .82, .165, 1);
	-o-animation: fadeInDown 1s cubic-bezier(.075, .82, .165, 1);
	animation: fadeInDown 1s cubic-bezier(.075, .82, .165, 1);
	top: -7px;
	left: 16px
}

@media screen and (max-width:75em) {
	.banner .nav-primary .sub-menu span.middle-chevron,
	.banner .nav-primary .sub-menu span.top-chevron {
		display: none
	}
}

.banner .nav-primary .sub-menu .sub-menu {
	position: relative;
	top: 0;
	display: block;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	z-index: 1
}

.banner .nav-primary .sub-menu .sub-menu li {
	margin: 0
}

.banner .nav-primary .sub-menu .sub-menu span.middle-chevron,
.banner .nav-primary .sub-menu .sub-menu span.top-chevron {
	display: none
}

@media screen and (max-width:75em) {
	.banner .nav-primary #main-menu {
		display: none
	}
}

.banner .nav-primary #main-menu.active {
	display: block!important;
	height: auto
}

.banner .nav-primary #main-menu.active .search-form {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important
}

.banner .nav-primary .nav {
	font-family: HCo Gotham SSm, Arial, sans-serif;
	font-weight: 500
}

.banner .nav-primary .nav li.menu-item {
	padding: 0 5px;
	margin-bottom: 0
}

.banner .nav-primary .nav li.menu-item .column-title {
	font-size: .85em;
	padding: .7rem 12px 0;
	font-weight: 600;
	color: #0a0a0a
}

.banner .nav-primary .nav li.menu-item .column-title span {
	color: inherit
}

.banner .nav-primary .nav li.menu-item.menu-item-has-children:hover ul.sub-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 1;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
	z-index: 1003;
	visibility: visible
}

.banner .nav-primary .nav li.menu-item.menu-item-has-children:hover ul.sub-menu ul.sub-menu {
	display: block
}

.banner .nav-primary .nav li.menu-item.columns.menu-item-has-children:hover ul.sub-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.banner .nav-primary .nav a {
	color: #555;
	font-size: .8em
}

.banner .nav-primary .search-toggle {
	margin-left: 15px
}

@media screen and (max-width:75em) {
	.banner .nav-primary .search-toggle {
		display: none
	}
}

.banner .nav-primary .search-toggle svg {
	fill: #555
}

.banner .nav-primary .navbar-toggler {
	padding-left: 0;
	padding-right: 5px
}

@media screen and (min-width:75em) {
	.banner .nav-primary .navbar-toggler {
		display: none
	}
}

@media screen and (max-width:75em) {
	.banner .nav-primary .navbar-toggler {
		display: block
	}
}

.banner .nav-primary .navbar-toggler:focus {
	outline: none
}

.banner .nav-primary #navbar-toggler-icon {
	cursor: pointer;
	padding-top: 4px;
	width: 1.5em;
	height: 19px;
	position: relative
}

.banner .nav-primary #navbar-toggler-icon i {
	background-color: #555;
	border-radius: 2px;
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s
}

.banner .nav-primary #navbar-toggler-icon i:first-child {
	top: 0
}

.banner .nav-primary #navbar-toggler-icon i:nth-child(2) {
	top: 50%
}

.banner .nav-primary #navbar-toggler-icon i:nth-child(3) {
	top: 100%
}

.banner .nav-primary #navbar-toggler-icon.active i:first-child {
	-webkit-transform: translateY(9.5px) translateX(0) rotate(45deg);
	-o-transform: translateY(9.5px) translateX(0) rotate(45deg);
	transform: translateY(9.5px) translateX(0) rotate(45deg)
}

.banner .nav-primary #navbar-toggler-icon.active i:nth-child(2) {
	opacity: 0
}

.banner .nav-primary #navbar-toggler-icon.active i:nth-child(3) {
	-webkit-transform: translateY(-9.5px) translateX(0) rotate(-45deg);
	-o-transform: translateY(-9.5px) translateX(0) rotate(-45deg);
	transform: translateY(-9.5px) translateX(0) rotate(-45deg)
}

@media screen and (max-width:75em) {
	.banner .nav-primary #main-menu {
		position: absolute;
		left: 0;
		top: 75px;
		background: #fff;
		width: 100%;
		height: 100%;
		z-index: 9
	}
	.banner .nav-primary #main-menu .search-form {
		margin-bottom: 0;
		margin-top: 15px;
		display: none
	}
	.banner .nav-primary #main-menu .search-form label {
		width: 100%;
		margin: 0 15px;
		border-bottom: 1px solid #222eed;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
	.banner .nav-primary #main-menu .search-form #search-icon {
		fill: #c1c1c1;
		height: 20px;
		width: 20px
	}
	.banner .nav-primary #main-menu .search-form .search-field {
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none
	}
	.banner .nav-primary #main-menu .search-form input.search-submit {
		display: none
	}
	.banner .nav-primary #main-menu .search-form .clear-input {
		width: 25px;
		position: relative;
		height: 20px;
		cursor: pointer
	}
	.banner .nav-primary #main-menu .search-form .clear-input:before {
		content: "";
		background: #c1c1c1;
		height: 2px;
		width: 100%;
		-webkit-transform: translateY(9.5px) translateX(0) rotate(45deg);
		-o-transform: translateY(9.5px) translateX(0) rotate(45deg);
		transform: translateY(9.5px) translateX(0) rotate(45deg);
		position: absolute
	}
	.banner .nav-primary #main-menu .search-form .clear-input:after {
		content: "";
		background: #c1c1c1;
		height: 2px;
		width: 100%;
		-webkit-transform: translateY(9.5px) translateX(0) rotate(-45deg);
		-o-transform: translateY(9.5px) translateX(0) rotate(-45deg);
		transform: translateY(9.5px) translateX(0) rotate(-45deg);
		position: absolute
	}
	.banner .nav-primary #main-menu .nav {
		display: block;
		height: auto;
		padding-top: 20px
	}
	.banner .nav-primary #main-menu li.menu-item {
		display: block;
		background-color: transparent;
		padding: 0;
		margin-bottom: 0
	}
	.banner .nav-primary #main-menu li.menu-item .column-title {
		display: block;
		color: #a4abcb;
		text-transform: uppercase;
		font-size: .8em;
		margin-bottom: 10px;
		padding: 0
	}
	.banner .nav-primary #main-menu li.menu-item li.menu-item {
		margin: 0 0 20px
	}
	.banner .nav-primary #main-menu li.menu-item li.menu-item li.menu-item {
		margin: 0 0 5px
	}
	.banner .nav-primary #main-menu li.menu-item:not(.menu-item-has-children) a {
		position: relative;
		border-bottom: 1px solid #e1e1e1;
		color: #222;
		font-weight: 300;
		font-size: 1em;
		padding: 15px 10px;
		margin: 0
	}
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children {
		height: auto
	}
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children.active-toggle .parent {
		background: #222eed;
		color: #fff
	}
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children.active-toggle span.arrow:after {
		-webkit-transform: rotate(-135deg)!important;
		-o-transform: rotate(-135deg)!important;
		transform: rotate(-135deg)!important;
		top: 9px!important;
		border-color: #fff!important
	}
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children.active-toggle .sub-menu {
		display: block;
		z-index: 99
	}
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children>a,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children a.parent,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children span.parent {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-bottom: 1px solid #e1e1e1;
		color: #222;
		font-weight: 300;
		font-size: 1em;
		padding: 0 15px;
		margin: 0
	}
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children>a span.parent-text,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children a.parent span.parent-text,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children span.parent span.parent-text {
		width: calc(100% - 45px);
		padding: 15px 0;
		display: block
	}
}

@media screen and (max-width:75em) and (min-width:75em) {
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children>a span.parent-text,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children a.parent span.parent-text,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children span.parent span.parent-text {
		width: auto;
		padding: 0
	}
}

@media screen and (max-width:75em) {
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children>a span.arrow,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children a.parent span.arrow,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children span.parent span.arrow {
		display: block;
		height: 100%;
		width: 65px;
		right: 0;
		top: 0;
		position: absolute
	}
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children>a span.arrow:after,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children a.parent span.arrow:after,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children span.parent span.arrow:after {
		content: "";
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		border-right: 1px solid #aeaeae;
		border-bottom: 1px solid #aeaeae;
		height: 15px;
		width: 15px;
		position: absolute;
		top: -8px;
		bottom: 0;
		right: 20px;
		margin: auto 0
	}
}

@media screen and (max-width:75em) and (min-width:75em) {
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children>a span.arrow,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children a.parent span.arrow,
	.banner .nav-primary #main-menu li.menu-item.menu-item-has-children span.parent span.arrow {
		display: none
	}
}

@media screen and (max-width:75em) {
	.banner .nav-primary #main-menu li.menu-item .sub-menu {
		display: none;
		position: relative;
		-webkit-box-shadow: none;
		box-shadow: none;
		width: 100%;
		opacity: 1;
		top: 0;
		visibility: visible;
		background-color: #f4f6ff;
		padding: 20px 15px 10px;
		margin: 0
	}
	.banner .nav-primary #main-menu li.menu-item .sub-menu:after,
	.banner .nav-primary #main-menu li.menu-item .sub-menu:before {
		display: none
	}
	.banner .nav-primary #main-menu li.menu-item .sub-menu .sub-menu {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0
	}
	.banner .nav-primary #main-menu li.menu-item .sub-menu .sub-menu a {
		padding-left: 0;
		padding-right: 0;
		font-weight: 300;
		color: #222;
		font-size: .9em;
		border-bottom: 1px solid #e1e1e1
	}
	.banner .nav-primary #main-menu li.menu-item .sub-menu .sub-menu li:last-child a {
		border-bottom: none
	}
}

.footer {
	margin-top: auto;
	background-color: #f3f3f3;
	padding-top: 110px;
	padding-bottom: 65px;
	font-size: .8em
}

.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.banner .nav-primary .footer .widget ul.nav,
.footer .widget .banner .nav-primary ul.nav,
.footer .widget ul.menu {
	list-style: none;
	margin-left: 0;
	padding: 0
}

.banner .nav-primary .footer .widget ul.nav a,
.footer .widget .banner .nav-primary ul.nav a,
.footer .widget ul.menu a {
	color: #757575;
	font-weight: 400
}

@media screen and (max-width:63.9375em) {
	.footer .widget h3 {
		font-size: 1.4rem
	}
}

@media screen and (max-width:39.9375em) {
	.footer .widget h3 {
		font-size: 1.625rem
	}
}

.footer .social-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 65px
}

.footer .social-icons a {
	margin: 0 20px
}

.footer .social-icons a svg {
	height: 35px;
	fill: #d4d4d4
}

.footer .brand {
	-ms-flex-item-align: center;
	align-self: center;
	margin-top: 2.2em;
	display: inline-block;
	margin-bottom: 20px
}

.footer .brand img {
	height: 38px
}

.footer .copyright {
	color: rgba(41, 41, 41, .47);
	text-align: center;
	margin-top: 1rem
}

@media (min-width:640px) {
	.footer .copyright {
		text-align: left;
		margin-top: 0
	}
}

.footer .social_footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 67px 0 0
}

@media screen and (max-width:39.9375em) {
	.footer .social_footer {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0;
		margin: 2.2rem 0
	}
}

.footer .social_footer .social_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 .5rem 0 0
}

.footer .social_footer .social_item a {
	max-width: 40px
}

@media screen and (max-width:63.9375em) {
	.footer .social_footer .social_item a {
		max-width: 30px
	}
}

@media screen and (max-width:39.9375em) {
	.footer .social_footer .social_item a {
		max-width: 40px
	}
}

.footer .social_footer .social_item a img {
	width: 100%
}

@media screen and (max-width:63.9375em) {
	.footer-container section:first-child {
		padding: 0 1.5rem 0 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}
}

@media screen and (max-width:39.9375em) {
	.footer-container section {
		text-align: center
	}
}

.footer-container section.brand-wrapper {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0
}

@media screen and (max-width:39.9375em) {
	.footer-container section.brand-wrapper {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
}

.footer-container section.brand-wrapper ul {
	list-style: none;
	margin-left: 0
}

.footer-container section.brand-wrapper ul li {
	margin-bottom: 1.5em;
	line-height: 1
}

@media screen and (max-width:63.9375em) {
	.footer-container section.brand-wrapper ul li.sell_info a,
	.footer-container section .pw-check-footer-link {
		line-height: 1rem
	}
}

.footer-container p {
	line-height: .75
}

body#tinymce {
	margin: 12px!important
}

.section-title {
	display: block;
	margin-bottom: 30px
}

.section-title h5 {
	text-transform: uppercase;
	letter-spacing: 1.5px
}

.section-title h2 {
	margin-bottom: 0
}

@media screen and (min-width:64em) {
	.hero .grid-container.narrow,
	.hero .narrow.citation-container {
		max-width: 920px
	}
}

@media (min-width:768px) {
	.hero .citation-container .h1,
	.hero .citation-container h1,
	.hero .grid-container .h1,
	.hero .grid-container h1 {
		font-size: 48px
	}
}

.hero .citation-container .author-meta,
.hero .grid-container .author-meta {
	margin-bottom: 2rem;
	margin-top: 1rem
}

@media (min-width:768px) {
	.hero .citation-container .author-meta,
	.hero .grid-container .author-meta {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		white-space: nowrap
	}
}

.hero .citation-container .author-meta .-author:last-child,
.hero .grid-container .author-meta .-author:last-child {
	margin-right: 0
}

@media (min-width:768px) {
	.hero .citation-container .author-meta .-last-updated,
	.hero .grid-container .author-meta .-last-updated {
		margin-left: 10px;
		padding-left: 10px;
		margin-top: 0;
		position: relative
	}
}

@media (min-width:768px) {
	.hero .citation-container .author-meta .-last-updated:before,
	.hero .grid-container .author-meta .-last-updated:before {
		content: "";
		background-color: #ccc;
		height: 15px;
		width: 1px;
		display: inline-block;
		position: absolute;
		top: 3px;
		left: 0
	}
}

.hero .best-header-img img {
	width: 100%
}

.hero .subtitle {
	font-size: .9em
}

.best-list-cards ul.unordered {
	padding: 0
}

.best-list-cards ul.unordered .card {
	border: none;
	background-color: transparent;
	display: list-item;
	margin-bottom: 10px;
	overflow: visible
}

.best-list-cards ul.unordered .card img {
	display: none
}

.best-list-cards ul.unordered .card a {
	font-size: 1.2em;
	font-weight: 600;
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	color: #208cc3;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none
}

.best-list-cards ul.cards {
	list-style: none;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	font-size: .8em;
	font-weight: 700;
	margin: 0 -10px
}

.best-list-cards ul.cards .card {
	max-width: calc(50% - 20px);
	border: 0;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
	box-shadow: 0 0 6px rgba(0, 0, 0, .1);
	padding: 15px;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 1.4;
	min-height: 140px;
	margin: 10px
}

.best-list-cards ul.cards .card:hover {
	color: #222eed;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
	box-shadow: 0 3px 10px rgba(0, 0, 0, .15)
}

.best-list-cards ul.cards .card img {
	margin-bottom: 20px;
	max-width: 80%
}

.best-list-cards ul.cards .card a {
	color: inherit
}

.best-list-cards ul.cards .card span {
	display: block
}

@media screen and (min-width:40em) {
	.best-list-cards ul.cards .card {
		max-width: calc(25% - 20px);
		min-height: 180px
	}
}

@media screen and (min-width:64em) {
	.best-list-cards ul.cards .card {
		max-width: calc(20% - 20px)
	}
}

.module.first {
	padding-top: 30px;
	padding-bottom: 40px;
	margin-top: 50px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), color-stop(60%, #fff));
	background: -webkit-linear-gradient(top, #f7f7f7, #fff 60%);
	background: -o-linear-gradient(top, #f7f7f7 0, #fff 60%);
	background: linear-gradient(180deg, #f7f7f7, #fff 60%)
}

@media screen and (min-width:64em) {
	.compare-table-section {
		margin-bottom: 70px
	}
}

.compare-table-section .table-container {
	overflow-y: visible;
	padding-top: 20px
}

.detailed-list .brand-heading {
	margin-bottom: 30px
}

.detailed-list .detailed-ul {
	list-style: none;
	margin-left: 0;
	padding: 0
}

.detailed-list .product-detail {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ececec
}

.detailed-list .p-title {
	margin-top: 0
}

.rating-wrap {
	color: #555
}

.how_we_review {
	font-size: .8em;
	margin: 1em 0;
	text-align: left
}

@media screen and (max-width:63.9375em) {
	.how_we_review {
		text-align: center;
		margin: 1em 0 1.5em
	}
}

.how_we_review a {
	position: relative
}

.how_we_review a:before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50%;
	display: inline-block;
	left: -20px;
	top: -1px;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" width="16" height="16" focusable="false" data-prefix="far" data-icon="info-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm0-338c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" class=""></path></svg>')
}

.rating-round {
	font-size: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.rating-round .pie-wrapper {
	height: 67px;
	width: 67px;
	position: relative
}

.rating-round .pie-wrapper .pie {
	height: 100%;
	width: 100%;
	clip: rect(0, 67px, 67px, 33.5px);
	left: 0;
	position: absolute;
	top: 0
}

.rating-round .pie-wrapper .pie .half-circle {
	height: 100%;
	width: 100%;
	border: 6.7px solid #70f1b4;
	border-radius: 50%;
	clip: rect(0, 33.5px, 67px, 0);
	left: 0;
	position: absolute;
	top: 0
}

.rating-round .pie-wrapper .label {
	height: 100%;
	width: 100%;
	background-color: transparent;
	color: #555;
	cursor: default;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.5em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	letter-spacing: -2px
}

.rating-round .pie-wrapper .shadow {
	height: 100%;
	width: 100%;
	border: 6.7px solid #e7e7e7;
	border-radius: 50%
}

.rating-round .total {
	color: #c1c1c1
}

@media screen and (min-width:40em) {
	.rating-round {
		font-size: 18px
	}
	.rating-round .pie-wrapper {
		height: 80px;
		width: 80px
	}
	.rating-round .pie-wrapper .pie {
		clip: rect(0, 80px, 80px, 40px)
	}
	.rating-round .pie-wrapper .pie .half-circle {
		clip: rect(0, 40px, 80px, 0)
	}
}

@media screen and (min-width:64em) {
	.rating-round {
		font-size: 26px
	}
	.rating-round .pie-wrapper {
		height: 100px;
		width: 100px
	}
	.rating-round .pie-wrapper .pie {
		clip: rect(0, 100px, 100px, 50px)
	}
	.rating-round .pie-wrapper .pie .half-circle {
		clip: rect(0, 50px, 100px, 0)
	}
}

@media screen and (min-width:64em) {
	.procon {
		max-width: 900px
	}
}

@media screen and (min-width:64em) {
	.citation-container {
		max-width: 920px;
		padding: 0!important
	}
}


